@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap");
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  font-family: inherit;
  cursor: pointer;
}

.button, body .main .main-order__block .main-order__content .main-order__form .main-order__submit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  background: #99862a;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 15px 30px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  font-family: inherit;
}

.button:active, body .main .main-order__block .main-order__content .main-order__form .main-order__submit:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

body {
  width: 1920px;
  margin: 0 auto;
  font-family: "Montserrat";
}

body .header {
  position: relative;
  width: inherit;
  height: 900px;
  color: #ffffff;
  font-weight: normal;
}

body .header .header-overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(rgba(40, 40, 40, 0))), url("./IMG/bgc.png"), #ededed;
  background: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%), url("./IMG/bgc.png"), #ededed;
  z-index: -1;
}

body .header .header-content {
  width: 1110px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: auto;
}

body .header .header-content .header-content__top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .header .header-content .header-content__top-block .header-content__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  margin: 30px 0 20px;
}

body .header .header-content .header-content__top-block .header-content__contacts address {
  font-style: normal;
  font-family: inherit;
}

body .header .header-content .header-content__top-block .header-content__menu {
  font-size: 14px;
  line-height: 175%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 277.5px 277.5px 277.5px 277.5px;
      grid-template-columns: 277.5px 277.5px 277.5px 277.5px;
  -ms-grid-rows: 47px;
      grid-template-rows: 47px;
  text-align: center;
  border: 1px solid #ffffff;
  border-left: none;
  border-right: none;
}

body .header .header-content .header-content__top-block .header-content__menu .header-content__menu-link {
  padding: 11px 0 15px;
  border-right: 1px solid #ffffff;
}

body .header .header-content .header-content__top-block .header-content__menu .header-content__menu-link:last-child {
  border-right: none;
}

body .header .header-content .header-content__bottom-block {
  width: 415px;
  margin: auto;
  margin-top: 583px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main {
  width: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .main .main-slogan__block {
  background: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .main-slogan__block .main-slogan__content {
  border: 3px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 97px 405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

body .main .main-slogan__block .main-slogan__content .main-slogan__title {
  position: relative;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  margin: 60px auto 80px;
}

body .main .main-slogan__block .main-slogan__content .main-slogan__title::after {
  position: absolute;
  content: "";
  display: block;
  text-align: center;
  top: 90px;
  left: 274px;
  width: 160px;
  height: 1px;
  background: #ffffff;
}

body .main .main-slogan__block .main-slogan__content .main-slogan__text {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 150%;
  margin: 0 187px 50px 190px;
}

body .main .main-slogan__block .main-slogan__content .main-slogan__image {
  margin-bottom: 60px;
}

body .main .main-news__block {
  background: #e6e3c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .main-news__block .main-news__content {
  width: 1110px;
  margin: 80px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  border-top: 1px solid #998431;
  border-bottom: 1px solid #998431;
  justify-items: stretch;
}

body .main .main-news__block .main-news__content div[class$="block"] {
  margin: 60px 0;
  height: 758px;
}

body .main .main-news__block .main-news__content .main-news__left-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 24px 138px 84px 228px 84px 50px;
      grid-template-rows: 24px 138px 84px 228px 84px 50px;
  row-gap: 30px;
}

body .main .main-news__block .main-news__content .main-news__left-block .main-news__new-collection {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
}

body .main .main-news__block .main-news__content .main-news__left-block .main-news__title {
  position: relative;
  margin: 0;
  width: 298px;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #282828;
}

body .main .main-news__block .main-news__content .main-news__left-block .main-news__title::after {
  position: absolute;
  content: "";
  display: block;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 160px;
  height: 1px;
  background: #282828;
}

body .main .main-news__block .main-news__content .main-news__left-block .main-news__description {
  font-size: 14px;
  line-height: 150%;
  color: #282828;
  margin: 0;
  width: 445px;
}

body .main .main-news__block .main-news__content .main-news__left-block .main-news__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 445px;
      grid-template-columns: 445px;
  -ms-grid-rows: (76px)[3];
      grid-template-rows: repeat(3, 76px);
}

body .main .main-news__block .main-news__content .main-news__left-block .main-news__table .main-news__table-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 76px 369px;
      grid-template-columns: 76px 369px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .main-news__block .main-news__content .main-news__left-block .main-news__table .main-news__table-items:nth-child(2) {
  border: 1px solid #282828;
  border-right: none;
  border-left: none;
}

body .main .main-news__block .main-news__content .main-news__left-block .main-news__table .main-news__table-items .main-news__table-year {
  margin: 0;
  padding: 27px 24px;
  border-right: 1px solid #282828;
  font-size: 14px;
  line-height: 150%;
  color: #282828;
}

body .main .main-news__block .main-news__content .main-news__left-block .main-news__table .main-news__table-items .main-news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main .main-news__block .main-news__content .main-news__left-block .main-news__table .main-news__table-items .main-news__item .main-news__item-name {
  margin: 0 0 5px 0;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #282828;
}

body .main .main-news__block .main-news__content .main-news__left-block .main-news__table .main-news__table-items .main-news__item .main-news__item-description {
  margin: 0;
  font-size: 14px;
  line-height: 150%;
  color: #282828;
}

body .main .main-news__block .main-news__content .main-news__right-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 508px 228px;
      grid-template-rows: 508px 228px;
  row-gap: 22px;
  justify-items: right;
}

body .main .main-news__block .main-news__content .main-news__right-block .main-news__image-block {
  height: 228px;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (259px)[2];
      grid-template-columns: repeat(2, 259px);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

body .main .main-order__block {
  background: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .main-order__block .main-order__content {
  border: 3px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 97px 405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  position: relative;
  padding: 0;
}

body .main .main-order__block .main-order__content .main-order__image-block {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: transparent;
  width: 1193px;
  top: -175px;
  left: -30px;
}

body .main .main-order__block .main-order__content .main-order__title {
  position: relative;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  margin: 87px auto 70px;
  padding: 5px 50px 10px;
}

body .main .main-order__block .main-order__content .main-order__title::after {
  position: absolute;
  content: "";
  display: block;
  text-align: center;
  top: 95px;
  left: 186px;
  width: 118px;
  height: 1px;
  background: #ffffff;
}

body .main .main-order__block .main-order__content .main-order__text {
  font-size: 16px;
  line-height: 150%;
  margin: 0 285px 81px 286px;
  text-align: center;
}

body .main .main-order__block .main-order__content .main-order__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (30px)[2] 60px;
      grid-template-rows: repeat(2, 30px) 60px;
  row-gap: 40px;
  margin-bottom: 80px;
}

body .main .main-order__block .main-order__content .main-order__form .main-order__inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (255px)[2];
      grid-template-columns: repeat(2, 255px);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

body .main .main-order__block .main-order__content .main-order__form .main-order__inputs .main-order__input {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #ffffff;
}

body .main .main-order__block .main-order__content .main-order__form .main-order__select {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #ffffff;
}

body .main .main-order__block .main-order__content .main-order__form .main-order__select option {
  color: #ffffff;
}

body .main .main-order__block .main-order__content .main-order__form .main-order__select option:focus {
  background: inherit;
}

body .main .main-order__block .main-order__content .main-order__form .main-order__submit {
  padding: 13px 207px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: transparent;
  outline: none;
  border: 1px solid #ffffff;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

body .footer {
  width: inherit;
  margin: 0;
  color: #ffffff;
  font-weight: normal;
  background: #998431;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer .footer-content {
  width: 1110px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (60px)[2];
      grid-template-rows: repeat(2, 60px);
  margin: 50px 405px;
}

body .footer .footer-content .footer-content__top-menu {
  border: 1px solid #ffffff;
  border-right: none;
  border-left: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[7];
      grid-template-columns: repeat(7, auto);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .footer .footer-content .footer-content__top-menu .footer-content__top-link {
  font-size: 14px;
  line-height: 150%;
}

body .footer .footer-content .footer-content__top-menu .footer-content__top-link:first-child {
  margin-left: 94px;
}

body .footer .footer-content .footer-content__top-menu .footer-content__top-link:last-child {
  margin-right: 94px;
}

body .footer .footer-content .footer-content__bottom-menu {
  border-bottom: 1px solid #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-column-gap: 0px;
          column-gap: 0px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .footer .footer-content .footer-content__bottom-menu .footer-content__bottom-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  padding: 19px 56px 21px;
  border-right: 1px solid #ffffff;
}

body .footer .footer-content .footer-content__bottom-menu .footer-content__bottom-link:first-child {
  margin-left: 94px;
  padding-left: 0;
}

body .footer .footer-content .footer-content__bottom-menu .footer-content__bottom-link:last-child {
  margin-right: 94px;
  padding-right: 0;
  border-left: 1px solid #ffffff;
  border-right: none;
}

body .footer .footer-content .footer-content__bottom-menu .footer-content__logo-link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (65px)[3];
      grid-template-columns: repeat(3, 65px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media screen and (max-width: 500px) {
  body {
    width: auto;
  }
  body .header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .header .header-content {
    width: 100%;
  }
  body .header .header-content .header-content__top-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */